@charset "UTF-8";

body {
  background-color: #D5E7F5;
  color: #000639;
  font-family: "游明朝", "YuMincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳＰ明朝", "ＭＳ明朝", serif, sans-serif;
  line-height: 180%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.1rem 4%;
}
.global_navi,.gnav_mainmenu{
  display: flex;
}
.head_sns {
  display: flex;
}

.header_logo img {
  width: 8rem;
  height: auto;
}
.letters {
  font-size: 0.75rem;
  font-weight: 400;
  color: #000639;
  font-family: 'Libre Baskerville', serif;
  margin-left: 2rem;
}
.head_sns img {
  width: 1rem;
  height: 1rem;
  height: auto;
  align-items: center;
  padding-top: 0.5rem;
}
.facebook_icon {
  margin-right: 1rem;
}
