@charset "UTF-8";


/*共通*/
body {
  background-color: #D5E7F5;
  color: #000639;
  font-family: "游明朝", "YuMincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳＰ明朝", "ＭＳ明朝", serif, sans-serif;
  line-height: 180%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
.wrapper {
  width: 100%;
  margin: 0 auto;
}

.txt_libre {
  font-family: 'Libre Baskerville', serif;
  letter-spacing: 0.06em;
}

.concept_heading,.lineup_heading,.topics_heading,.contact_heading {
  font-size: 2em;
  font-style: italic;
  font-weight: lighter;
  margin-bottom: 2em;
}

/*header*/
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  position: fixed;
  z-index: 500;
  padding: 1.1em 4%;
}
.global_navi,.gnav_mainmenu{
  display: flex;
}
.gnav-submenu {
  display: flex;
  margin-left: 3em;
}

.header_logo img {
  width: 8em;
  height: auto;
}
.letters {
  font-size: 0.75em;
  font-weight: 400;
  color: #000639;
  font-family: 'Libre Baskerville', serif;
  margin-left: 2.3em;
}
.gnav-submenu img {
  width: 1em;
  height: 1em;
  height: auto;
  align-items: center;
  padding-top: 0.5em;
}
.facebook_icon {
  margin-right: 1em;
}

/*ボタン*/
.concept_btn ,.topics_btn{
  color: #000639;
  display: inline-block;
  transition: all .3s;
}
.contact_btn{
  display: inline-block;
  transition: all .3s;
}

.concept_btn:hover {
  transform: translateX(0.5rem);
  transition: all .3s;
}
.topics_btn:hover {
  transform: translateX(0.5rem);
  transition: all .3s;
}
.contact_btn:hover {
  transform: translateX(0.5rem);
  transition: all .3s;
}

.arrow {
  color: #000639;
  content: '';
  display: inline-block;
  border-top: 1px solid;
  border-right: 1px solid;
  width: 0.4em;
  height: 0.4em;
  transform: translateY(-2px) rotate(45deg);
  margin-right: 0.5em;
  transition: all .3s;
}
.contact_arrow {
  color: #FFF;
  content: '';
  display: inline-block;
  border-top: 1px solid;
  border-right: 1px solid;
  width: 0.4em;
  height: 0.4em;
  transform: translateY(-2px) rotate(45deg);
  margin-right: 0.5em;
  transition: all .3s;
}


/*main*/
.main_contents {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 100px;
}
.main_visual {
  width: 50%;
  height: auto;
  right: 0%;
  margin-top: -6rem;
  height: 800px;
  overflow: hidden;
  position: relative;
}
.main_img img{
  height: 800px;
  object-fit: cover;
  overflow: hidden;
  position: relative;
}
.main_text {
  margin-left: 6%;
  line-height: 2em;
  width: auto;
  word-wrap: break-word;
  z-index: 300;
}
.main_txt_lead {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 1em;
  line-height: 2em;
}


.main_cloud img{
  position: absolute;
  top: 600px;
  right: 0%;
  width: 60%;
  object-fit: cover;
}

.main_copy {
  z-index: 100;
  display: flex;
  width: 17rem;
  position: absolute;
  top: 20%;
  right: 45.5%;
}


/*concept*/
.concept_wrapper {
  margin-top: 100px;
}
.concept_contents {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 160px;
}

.concept_visual {
  width: 50%;
  left: 0%;
  height: 700px;
  overflow: hidden;
  position: relative;
}
.concept_img img{
  height: 750px;
  object-fit: cover;
  overflow: hidden;
  position: relative;
}

.concept_cloud img{
  position: absolute;
  top: 1500px;
  left: 0%;
  width: 60%;
  object-fit: cover;
}


.concept_text {
  margin-right: 13%;
  margin-left: 40px;
  line-height: 2em;
  width: auto;
  word-wrap: break-word;
  z-index: 300;
}

.concept_text p {
  margin-bottom: 1.5em;
}

.textL {
  font-size: 1.3em;
}




/*lineup*/
.color {
  display: none;
}

.lineup_num {
  color: #fff;
  font-family: 'Libre Baskerville', serif;
  position: relative;
  top: 15px;
  right: 15px;
  font-size: 48px;
  z-index: 3;
  justify-content: right;
  display: flex;
}

.hover {
  color: #000639;
}

.lineup_heading {
  text-align: center;
}

.lineup_contents {
  padding-top: 200px;
}

.lineup_list {
  padding-left: 0px;
  list-style: none;
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.lineup_list li {
  width: 28%;
}

.conts-img {
  position: relative;
  z-index: 2;
}

figure {
  position: relative;
}
figcaption {
  color: #fff;
  font-family: 'Libre Baskerville', serif;
  font-size: 1.4em;
  z-index: 3;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  justify-content: center;
  align-items: center;
  display: flex;
}

.lineup_list li:nth-child(3n-2) {
  margin-top: -200px;
}
.lineup_list li:nth-child(3n-1) {
  margin-top: -100px;
}

.lineup_ttl {
  font-size: 1.4em;
  font-weight: 700;
  margin: 1.1em 0 0.6em;
}
.lineup_txt {
  font-size: 0.9em;
  margin-bottom: 4.5em;
}


/*topics*/
.topics_cloud img{
  position: absolute;
  top: 3800px;
  right: 0%;
  width: 60%;
  object-fit: cover;
  z-index: 200;
}

.topics_contents,.contact_contents {
  padding: 100px 0px;
}

.topics_heading,.contact_heading {
  text-align: center;
  z-index: 300;
  position: relative;
}

.topics_news {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  width: 700px;
  z-index: 300;
  position: relative;
  align-items: center;
  height: 190px;
}

.topics_news a {
  color: #000639;
}

.topics_news > dt {
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
    font-style: italic;
    text-align: left;
    margin-right: 25px;
}

.topics_news > dd {
  margin-right: 15px;
}

.topics_news > dl {
  word-wrap: break-word;
}

.news_cat {
  color: #FFF;
  line-height: 150%;
  background: #000637;
  display: inline-block;
  width: 100%;
  padding: 0.1rem 2.7rem;
  font-size: 0.8em;
}

.topics_btn_wrap{
  left: 94%;
  position: relative;
}




/*contact*/
.contact_cloud img{
  position: absolute;
  top: 4300px;
  left: 0%;
  width: 60%;
  object-fit: cover;
  z-index: 200;
}

.contact_contents {
  position: relative;
  z-index: 300;
  margin: 0 auto;
}

.contact_message {
  text-align: center;
}

.tel_list {
  font-size: 2.2em;
  font-weight: 400;
  display: flex;
  justify-content: center;
  padding: 40px 0px;
}
.tel_list a {
  color: #000637;
}

.contact_btn  {
  color: #FFF;
  justify-content: center;
  display: flex;
}

.contact_btn_wrap {
    background: #000637;
    display: flex;
    padding: 0.7em 1em 0.7em 0.4em;
    font-size: 0.94em;
    justify-content: center;
    width: 250px;
    margin: 0 auto;
    border-radius: 2rem;
}


/*footer*/
footer {
padding: 3rem 0;
text-align: center;
font-size: 0.8em;
margin-top: 100px;
}

.copyright {
  letter-spacing: 1px;
}



/*header テキストウェーブ*/
@keyframes wave {
  100% {
    transform: translate3d(1px, -5px, 0.3em);
    opacity: 1;
  }
  50% {transform: translate3d(0.5px, 1px, 0.1em);
    opacity: 0.5;
  }
}

.wave {
  display: block;
}

.wave span {
  display: inline-block;
}

.wave:hover span {
  animation-name: wave;
  animation-duration: .16s;
  animation-direction: alternate;
  animation-iteration-count: 1.6;
}

.wave:hover span:nth-child(2) {
  animation-delay: .01s;
}

.wave:hover span:nth-child(3) {
  animation-delay: .025s;
}

.wave:hover span:nth-child(4) {
  animation-delay: .04s;
}

.wave:hover span:nth-child(5) {
  animation-delay: .055s;
}

.wave:hover span:nth-child(6) {
  animation-delay: .07s;
}

.wave:hover span:nth-child(7) {
  animation-delay: .085s;
}
















/*レスポンシブ --------------------------------------------------------- */
@media screen and (max-width: 1200px) {
  .pc_br {
    display: none;
  }

  .main_text {
    word-wrap: break-word;
    width: 38%;
  }

  .main_cloud img {
    top: 630px;
  }

  .concept_cloud img {
    top: 1530px;
  }

  .concept_text {
    margin-right: 40px;
    width: 40%;
  }
}


@media screen and (max-width: 900px) {

  /*header*/

  header {
    padding: 1.4em 4%;
  }
  
  .header_logo img {
    width: 6.7em;
  }
  .global_navi, .gnav_mainmenu {
    display: inline-block;
  }
  .letters {
    font-size: 1em;
    height: 60px;
    display: block;
  }

  .gnav-submenu {
    display: block;
  }
  .gnav-submenu img {
    width: 1.5em;
    height: auto;
    padding-top: 1.5em;
    display: inline-block;
  }

  .facebook_icon {
    margin-right: 0;
  }
    .gnav-mainmenu > li > a {
      width: 100%;
      padding: 0.2em 0;
      display: block;
  }

  
  /*ボタンのCSS*/
  .openbtn{
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 9999;
    cursor: pointer;
    width: 60px;
    height: 60px;
  }
  /* ×に変化 */
  .openbtn span {
    display: inline-block;
    transition: all .2s;
    position: absolute;
    left: 14px;
    height: 1px;
    background-color: #000639;
    width: 45%;
  }
  .openbtn span:nth-of-type(1) {
    top:15px;
  }
  .openbtn span:nth-of-type(2) {
    top:23px;
  }
  .openbtn span:nth-of-type(3) {
    top:31px;
  }

  .openbtn.active span:nth-of-type(1) {
    top:18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
  }
  .openbtn.active span:nth-of-type(2) {
    opacity: 0;
  }
  .openbtn.active span:nth-of-type(3) {
    top:30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
  }

  /*ナビゲーション*/
  .gnav-sp ul {
    position: absolute;
    z-index: 999;
    top: 40%;
    left: 40%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 100%;
  }

  .gnav-sp{
    position: fixed;
    z-index: 999;
    top:0;
    right: -120%;
    width: 50%;
    height: 100vh;
    background-color: #FFF;
    transition: all 0.6s;
  }
  .gnav-sp.panelactive{
    right: 0;
  }


  .main_contents {
    flex-direction: column-reverse;
    padding-bottom: 0px;
  }

  .main_visual {
    width: 95%;
    margin-top: 120px;
  }

  .main_img img {
    height: 650px;
  }

  .main_cloud img {
    width: 100%;
    top: 630px;
  }

  .main_copy {
    right: 41.5%;
    top: 15%;
  }

  .main_text {
    width: 100%;
    padding: 0 3em;
    margin-top: -130px;
  }

  .concept_contents {
    flex-direction: column;
    padding-bottom: 70px;
  }

  .concept_img img {
    height: 480px;
    width: 100%;
  }

  .concept_visual {
    width: 95%;
    height: auto;
  }

  .concept_cloud img {
    width: 100%;
    top: 1440px;
  }

  .concept_text {
    width: 100%;
    padding: 0 3em;
    margin-left: 0px;
  }

  .lineup_contents {
      overflow-x: scroll;
      width: 100%;
      padding-top: 10px;
  }
  .lineup_list {
    width: 410%;
    max-width: 20000px;
    flex-wrap: nowrap;
    margin-left: 4.5%;
  }
  .lineup_list li {
    width: 13%;
    margin-right: 2%;
  }

  .lineup_list li:nth-child(3n-2) {
    margin-top: 0px;
  }
  .lineup_list li:nth-child(3n-1) {
    margin-top: 0px; 
  }
  .lineup_ttl {
    font-size: 1.2em;
  }

  .topics_btn_wrap {
    left: 80%;
  }

  .topics_cloud img {
    width: 100%;
    top: 2750px;
  }

  .tel_list {
    font-size: 1.3em;
    padding: 0.8em;
    width: 250px;
    border: 1px solid #000639;
    border-radius: 2em;
  }

  .contact_cloud img {
    width: 100%;
    top: 3350px;
  }

  .contact_btn_wrap {
    padding: 1em 2em;
    margin: 0;
  }

  .contact_message,.contact_heading {
      width: 100%;
  }

  .contact_message {
    margin-bottom: 20px;
  }

  .contact_contents {
    display: flex;
    flex-wrap: wrap;  
    justify-content: center;
    padding-bottom: 0;
  }

  footer {
    margin-top: 0;
  }
}/*タブレット*/







  @media screen and (max-width: 414px) {

  .header_logo img {
    width: 6em;
  }
  .letters {
    margin-left: auto;
  }
  .gnav-submenu {
    margin-left: 0; 
  }

  .openbtn {
    top: 0px;
  }
  .openbtn span {
    left: 20px;
  }


  .concept_heading, .lineup_heading, .topics_heading, .contact_heading {
    font-size: 1.5em;
  }

  .main_copy {
    width: 40%;
    right: 45%;
    top: 5%;
  }

  .main_img img{
    height: auto;
    width: 100%;
  }

  .main_visual {
    margin-top: 80px;
    height: auto;
  }

  .main_text,.concept_text {
    margin-top: 0px;
    padding: 1.5em;
  }

  .main_cloud img {
    top: 300px;
  }

  .concept_visual {
    margin-top: -80px;
  }

  .concept_img img{
    height: 280px;
    width: 100%;
  }

  .concept_cloud img {
    top: 950px;
    width: 100%;
  }

  .topics_contents {
    padding-bottom: 220px;
  }

  .topics_news {
    width: 95%;
    padding-left: 1rem;
  }

  .topics_news > dd {
    padding: 5px 0px;
  }

  .news_cat {
    padding: 0.1rem 0.8rem;
  }

  .topics_btn_wrap {
    left: 70%;
    margin-top: 30px;
  }

  .topics_cloud img {
    top: 2350px;
  }

  figcaption {
    font-size: 1.2em;
    padding: 30px;
  }

  .contact_contents {
    padding-bottom: 60px;
  }

  .contact_cloud img {
    top: 2950px;
  }

  .tel_list {
    margin-bottom: 20px;
  }



}/*スマートフォン*/
